* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-weight: normal;
	margin-top: 30px;
}

a {
	font-size: 16px;
	margin: 40px 0;
	display: block;
	color: aquamarine;
}

h2 {
	font-size: 42px;
	font-weight: 300;
	margin: 40px 0;
}

img {
	margin: 25px 0;
}

p {
	color: gray;
}

footer {
	text-align: right;
	padding: 20px;
}
